@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  margin: 10px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-family: "PT Sans Narrow", sans-serif;
}
nav ul li a:hover {
  color: grey;
}
.logo {
  margin: 30px;
  font-family: "Pacifico", cursive;
  cursor: pointer;
}
.btn-sign {
  margin: 20px;
  width: 90px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: rgb(99, 99, 252);
  color: white;
}
.hero {
  display: flex;
}
.hero-img {
  height: 400px;
  margin: 50px;
}
.hero-content {
  margin: 30px;
}
.hero-h {
  margin: 10px;
  font-family: "PT Sans Narrow", sans-serif;
}
.hero-p {
  margin: 15px;
  font-size: larger;
  font-family: "PT Sans Narrow", sans-serif;
}
.hero-btn {
  margin: 15px;
  width: 90px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(99, 99, 252);
  color: white;
  font-family: "PT Sans Narrow", sans-serif;
}
.hero-btn:hover {
  background-color: white;
  color: rgb(99, 99, 252);
  border: 2px solid rgb(99, 99, 252);
}
.contact-h {
  color: red;
}
@media (max-width: 768px) {
  body,
  html {
    width: 100%;
    overflow-x: hidden;
  }
  .hero {
    display: flex;
    flex-direction: column;
  }
  .btn-sign {
    display: none;
  }
}
